<!DOCTYPE html>
<html lang='en' ng-app='inventory'>
  <head>
    <meta charset="utf-8">
    <link rel='stylesheet'href='https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css'>
    <title>Shopular</title>
  </head>
  <body>
    <h1>Shopular</h1>

    <main ng-controller='InventoryController as invCtrl'>

      <form name='addAnItem' ng-submit='addAnItem.$valid && invCtrl.addAnItem(invCtrl.newItem)' novalidate>

        <p ng-show='addAnItem.name.$touched && !addAnItem.name.$valid'> You must enter a name </p>   <!-- if form is manipulated -->
        <input ng-model='invCtrl.newItem.name'      type='text'   name='name'     placeholder='New Item Name'             required ng-model='invCtrl.newItem.name'>

        <p ng-show='addAnItem.price.$touched && !addAnItem.price.$valid'> You must enter a price for the item above $0, we aren't a charity!</p>
        <input ng-model='invCtrl.newItem.price'     type='number' name='price'    placeholder='New Item Price'            required ng-model='invCtrl.newItem.price'     min='0'>

        <p ng-show='addAnItem.quanity.$touched && !addAnItem.quantity.$valid'> You must enter a quantity for the item which is 0 or above</p>
        <input ng-model='invCtrl.newItem.quantity'  type='number' name='quantity' placeholder='New Item Quantity Number'  required ng-model='invCtrl.newItem.quantity'  min='0'>

        <p ng-show='addAnItem.color.$touched && !addAnItem.color.$valid'> You must enter a color as a string only </p>
        <input ng-model='invCtrl.newItem.color'     type='text'   name='color'    placeholder='New Item Color'            required ng-model='invCtrl.newItem.color'>

        <p ng-show='addAnItem.discount.$touched && !addAnItem.discount.$valid'> Is their a discount on this item? 0 or positive numbers only.</p>
        <input ng-model='invCtrl.newItem.discount'  type='number' name='discount' placeholder='New Item Discount'         required ng-model='invCtrl.newItem.discount'  min='0'>

        <input type='submit' value='add an item'>

        </form>


        <aside>
          <button ng-click="sortBy('name')">Sort By Name</button>
          <span class="sortorder" ng-show="propertyName === 'name' " ng-class="{reverse: reverse}"></span>

          <button ng-click="sortBy('quantity')">Sort By Quantity</button>
          <span class="sortorder" ng-show="propertyName === 'quantity' " ng-class="{reverse: reverse}"></span>

          <button ng-click="sortBy('price')">Sort By Price</button>
          <span class="sortorder" ng-show="propertyName === 'price' " ng-class="{reverse: reverse}"></span>
        </aside>




      <table class='table table-striped col-lg-8'>
        <tr>
            <th>Name </th>
            <th>Price</th>
            <th>Sale</th>
            <th>Sale Price</th>
            <th>Quantity</th>
            <th>Color</th>
        </tr>

        <tr ng-repeat='item in invCtrl.inventory'>
            <td>{{item.name}}</td>
            <td>{{item.price}}</td>
            <td><img src = 'sale.png' ng-show='item.discount > 0'></td>
            <td>{{invCtrl.getPostSalePrice(item) | currency:'$'}}</td>
            <td>{{item.quantity}}</td>
            <td>{{item.color}}</td>
        </tr>
      </table>



      </table>
    </main>

    <!-- This order of is important -->
        <script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.5.6/angular.min.js"></script>
        <script src='/js/inventory.module.js'></script>
        <script src='/js/inventory.service.js'></script>
        <script src='/js/inventory.controller.js'></script>

  </body>
</html>
